
simpleReaderApp/simpleReaderApp.xcodeproj/project.xcworkspace/xcshareddata/simpleReaderApp.xccheckout

simpleReaderApp/simpleReaderApp.xcodeproj/project.xcworkspace/xcuserdata/Mike.xcuserdatad/UserInterfaceState.xcuserstate

simpleReaderApp/simpleReaderApp.xcodeproj/project.xcworkspace/xcuserdata/Mike.xcuserdatad/UserInterfaceState.xcuserstate
